/* Giving the line steel blue color and 1.5 px stroke width */
.lines {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  .center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

  .legend rect {
    fill:white;
    stroke:black;
    opacity:0.8;}